
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

html { 
  background-color: black;
  background: url(bg2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: rgb(150,155,200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
    font-size: 1.3em;
    line-height: 1.5em;
    color: rgb(255, 190, 72);
}

.logo {
    display:block;
    margin:auto;
    width: 100%;
    margin-top: 30px;
}

h1 {
    /*font-family: 'Dosis', sans-serif;*/
    /*font-family: 'Cabin', sans-serif;*/
    /*font-family: 'Droid Sans Mono', ;*/
    /*font-family: 'Play', sans-serif;*/
    font-family: 'Inconsolata', sans-serif;
    text-align: center;
    font-size: 1.5em;
    margin-left: 0px;
    margin-right: 0px;
}

ul {
  margin-left: -30px;
}

li {
  margin-bottom: 1em;
}

img {
  width: 100%;
}

.subtitle {
  text-align: center;
  color: white;
  margin: 50px;
  font-family: 'Inconsolata', sans-serif;
}

h2, h3 {
    /*font-family: 'Dosis', sans-serif;*/
    font-family: 'Inconsolata', sans-serif;
    margin-top: 5px;
    color: rgb(255, 180, 50);
}

h3 {
  margin-bottom: 0px;
}

.credits h3 {
  /*color: rgb(200, 0, 120);*/
}

header {
    background-color: rgba(255,255,255, 0.9);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

article {
  max-width: 1050px;  
  margin: auto;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  overflow: auto;
  padding: 0px;
}

.textbox {
  background-color: rgba(125,35,5,0.97);
  /*color: rgb(240, 70, 120);*/
  color: rgb(255, 170, 90);
  border-radius: 4px;
  padding: 1em;
  margin-top: 20px;
  margin-bottom: 20px;

  width: calc(100% - 40px);
  max-width: 100%;

  border-color: rgb(250, 23, 75);
  border-width: 6px;
  border-style: double;
}

hr {
  border-color: rgb(250, 23, 75);
  border-width: 0px;
  margin-bottom: 70px;
}

.l {
  float: left;
  margin-left: 20px;
  margin-right: 0px;
}

.r {
  float: right;
  margin-left: 0px;
  margin-right: 20px;
}

.screenshot {
  margin: 20px 20px 0px 20px;
  width: calc(100% - 40px);

  border-color: rgb(250, 23, 75);
  border-width: 6px;
  border-style: double;
}

.last {
  margin-bottom: 20px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.small {
  display: inherit;
}

.large {
  display: none;
}

@media only screen and (min-width: 750px) {
  body {
    font-size: 1.1em;
  }
  .subtitle {
      margin: 20px;
  }
  h1 {
      font-size: 3.5em;
  }
  .textbox {
    max-width: calc(50% - 30px);
    padding: 2em;
  }
  .half {
    max-width: calc(50% - 40px);
  }
  .logo {
    max-width: 1250px;     
  }
  .small {
    display: none;
  }
  .large {
    display: inherit;
  }
}
